<html>
    <head>
        <title>Celebrity Stat Detector</title>
    </head>
    <body>
           <div>
        Nav:
        <a href="{{ url_for('index') }}">Upload</a>
        <a href="{{ url_for('display') }}">Display</a>
<!--        {% if current_user.is_anonymous %}-->
<!--        <a href="{{ url_for('login') }}">Login</a>-->
<!--        {% else %}-->
<!--        <a href="{{ url_for('logout') }}">Logout</a>-->
<!--        {% endif %}-->
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>